{% extends 'usuarios/base.html' %}

{% block conteudo %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Cidade</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.id_usuario}}</td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.cidade}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}